<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">

</head>
<!-- build 4 boxes with buttons whos value matches the location they represent actions send to /process_money-->
<!-- activites box explaining exactly what happened after each click of the buttons -->

<body>
    
        <div class="container">
            <form action="/process_money" method="post">
                <div  style="margin-top: 50px">
                    <h4>Total Money: {{session['total_gold']}}</h4>
                </div>
                <div class="d-flex justify-content-around " style="margin-top: 150px">
                <div class="d-flex align-items-center">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Farm</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Earns 10-20 Gold</h6>
                                <button name="submit" value="farm" type="submit">Find Gold!</button> 
                            </div>
                        </div>           
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Cave</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Earns 5-10 Gold</h6>
                                <button name="submit" value="cave" type="submit">Find Gold!</button>
                            </div>
                        </div>           
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">House</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Earns 2-5 Gold</h6>
                                <button name="submit" value="house" type="submit">Find Gold!</button>
                            </div>
                        </div>           
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Casino</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Earns/loses 50 Gold</h6>
                                <button name="submit" value="casino" type="submit">Find Gold!</button>
                            </div>
                        </div>  
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-around " style="margin-top: 150px">
                <h3>Activities:</h3>
                 {% with messages = get_flashed_messages() %} {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {% endwith %} {% block body %}{% endblock %}
            </div>

        </div>
   


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>
</html>